<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>WeHostyVUs</title>
</head>
<body>
<h1>Help me....</h1>
<div sec:authorize="!isAuthenticated()">
    <a href="/user/login">
        Войти в аккаунт
    </a>
</div>
<div sec:authorize="isAuthenticated()">
    <a href="/user/logout">
        Выйти
    </a>
    <a href="/videos/upload">Загрузить видео</a>
</div>


<div id="data-container"></div>
<script>

var xhr = new XMLHttpRequest();
xhr.open('GET', '/videos', true);

// Устанавливаем обработчик события onload
xhr.onload = function() {
    if (xhr.status >= 200 && xhr.status < 300) {
        // Успешный ответ от сервера
        var response = xhr.responseText; // Получаем текстовый ответ
        console.log("Ответ сервера:", response);

        // Если сервер возвращает JSON, вы можете его распарсить:
        try {
            var jsonResponse = JSON.parse(response);
            console.log("JSON ответ:", jsonResponse);
            displayData(jsonResponse)
        } catch (e) {
            console.error("Ошибка при парсинге JSON:", e);
        }
    } else {
        // Обработка ошибок
        console.error("Ошибка запроса:", xhr.status, xhr.statusText);
    }
};

// Устанавливаем обработчик события onerror для обработки ошибок сети
xhr.onerror = function() {
    console.error("Ошибка сети.");
};

// Отправляем запрос
xhr.send();
        function displayData(data) {
        const container = document.getElementById('data-container');
        container.innerHTML = ''; // Очищаем контейнер перед добавлением новых данных

        // Предположим, что data - это массив объектов
        data.forEach(item => {
            // Создаем элементы для каждого объекта
            const itemDiv = document.createElement('div');
            //style="display:flex;justify-content:space-between;
            itemDiv.className = 'item';
            itemDiv.style.border = '1px solid #ccc';
            itemDiv.style.margin = '20px';
            itemDiv.style.padding = '10px';
            itemDiv.style.display = 'flex';
            itemDiv.style.justifyContent = 'between';

            // Добавляем данные в элемент
            itemDiv.innerHTML =`\
                <a href="${item.path}">\
                    <img src="${item.imgId}"\
        height="264"/>\
                </a>\
                <div>\
                <h3><a href="${item.path}">${item.title}</a></h3>\
                <p>${item.description}</p>\
                <p><strong>Отметок нравится:</strong> ${item.likes}</p></div>`
            ;

            // Добавляем элемент в контейнер
            container.appendChild(itemDiv);
        });
    }

    // Вызываем функцию после загрузки страницы
    document.addEventListener('DOMContentLoaded', fetchData);

</script>



</body>
</html>