<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>WeHostyUs</title>
</head>
<body>
<a href="/">Главная</a>
<h1>Hello? We Host for Us)</h1>
<hr>
<h4>Видео!)</h4>
<video
        id="my-video"
        class="video-js"
        controls
        preload="auto"
        width="640"
        height="264"
        poster=""
        data-setup="{}"
>
    <source th:src="@{/api/videos(video = ${video})}" type="video/mp4" />

    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a>
    </p>
</video>
</body>
</html>